label {
    margin-top: 8px;
}

.taas {
    justify-content: flex-start;
    margin-bottom: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    /* height: 100%; */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-top {
    margin-top: 15px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid black;
    position: relative;
    bottom: 140px;
    width: 30%;
}

.modal-form {
    display: flex;
    flex-direction: column;
    /* gap: 1px; */
}

.add {
    transition: all 0.3s;
}

input, select {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 6px;
}

span.close {
    color: #929292;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

span.close:hover {
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

input[type="submit"] {
    border: none;
    width: 30%;
    height: 30px;
    margin-top: 10px;
    margin-left: auto;
    transition: all 0.3s;
    margin-right: auto;
    cursor: pointer;
}

td {
    padding: 6px;
}
