.content-dashboard {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 67px;
}

.taas-content {
    display: flex;
    gap: 12px;
    z-index: 5;
}

label {
    margin-left: 4px;
    margin-top: 8px;
}

.product {
    width: 35px;
    position: absolute;
    margin: 10px;
}

.earn {
    width: 33px;
    height: 28px;
}

.taasbox-dashboard {
    background-color: #b8b7b7;
    min-width: 270px;
    /* padding: 15px; */
}

.loob-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #dfe0e0;
}

.baba-taasbox {
    background-color: #006181;
    color: white;
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    font-size: 0.9rem;
}

.zero {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 10px;
}

.item-stock {
    margin: 5px;
    font-size: 1.3rem;
    font-weight: bold;
}

.box-baba {
    background-color: #b8b7b7;
    min-width: 270px;
}

.taas-boxbaba {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.graph {
    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* #barChart {
    min-width: 834px;
    max-height: 400px;
} */

.line-graph {
    /* margin-left: -110px; */
    background-color: transparent;
    /* margin-right: 0; */
    /* margin-top: 110px; */
    /* min-width: 100%; */
    overflow: hidden;
    overflow-x: hidden; /* Hide horizontal overflow */
    margin-bottom: 530px;
    padding: 0;
}

#curve_chart {
    position: absolute;
    top: 160px;
    left: 85px;
    overflow: hidden;
    overflow-x: hidden; /* Hide horizontal overflow */
    min-width: 1240px;
    min-height: 600px;
}

.sales {
    position: absolute;
    top: 66%;
    left: 194px;
    transform: translateY(-50%) rotate(-90deg);
    font-size: 15px;
    color: #414141;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    user-select: none; /* Add this line */
}

div div div div div svg rect {
    width: 1250px;
}

div.graph div.line-graph div#curve_chart div div div svg g g g text {
    font-size: 14px;
}

/* div div div div div svg  {
    width: 900px;
} */

/* div.graph div.line-graph div#curve_chart div div div svg g {
    width: 1200px;
} */

.pie-graph {
    /* min-height: 368px;
    min-width: 270px; */
    width: 100%;
    max-height: 430px;
    align-items: center;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* #pieChart {
    width: 260px;
    max-height: 260px;
} */

#piechart {
    background-color: transparent;
    color: transparent;
    margin-left: 100px;
    /* margin-top: 140px; */
    /* margin-bottom: 100px; */
    min-width: 900px;
    min-height: 430px;
}

/* Labels Text */
g g g text {
    font-size: 17px;
}

.gitna-boxbaba {
    display: flex;
    /* justify-content: space-around ; */
    border: 1px solid #afafaf;
    background-color: white;
    /* padding: 3px; */
}

.chart-container {
    position: relative;
}

.chart-y-label {
    position: absolute;
    top: 40%;
    left: -40px;
    transform: translateY(-50%) rotate(-90deg);
    font-size: 14px;
    color: #414141;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    user-select: none; /* Add this line */
}

/* .demand {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    color: #414141;
    margin-top: 20px;
} */

select {
    margin-top: 10px;
    padding: 6px;
    width: 16.3%;
    font-size: 1rem;
}

.th {
    background-color: #006181;
    color: white;
}

table {
    /* margin-top: 10px; */
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
svg g g rect {
    margin-right: 52px;
}

/* Dinagdag */
.dashboard-container {
    margin-top: 38px;
}

.icons-taas {
    width: 20px;
    left: 29px;
    top: 85px;
    position: absolute;
}

.product-i {
    width: 25px;
    left: 27px;
    top: 137px;
    position: absolute;
}

.transaction-i {
    width: 25px;
    left: 27px;
    top: 192px;
    position: absolute;
}

.customer-i {
    width: 25px;
    left: 27px;
    top: 247px;
    position: absolute;
}

.supplier-i {
    width: 25px;
    left: 26px;
    top: 299px;
    position: absolute;
}
.user-i {
    width: 25px;
    left: 26px;
    top: 352px;
    position: absolute;
}
