@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    width: 100%;
    /* background-color: #818FB4; */
    background: url("../images/bg.jpg"), white;
    background-size: cover;
    padding: 0 10px;
}


.container-login {
    position: absolute;
    top: 11%;
    background-color: white;
    height: 80%;
    width: 80%;
    border: 3px solid #006181;
    z-index: 99;
}


header {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* padding: 3vh 5vw; */ /* Adjusted padding values */
    /* height: 100vh; */
    /* width: 100vw; */
    min-height: 60px;
    /* font-style: italic; */
    position: absolute;
    top: 0;
}

.logo {
    /* width: 9%; */
    width: 320px;
    height: auto;
    position: absolute;
    right: 9%;
    top: 26%;
}

.top-left {
    position: absolute;
    top: 20%;
    left: 4%;
}

.taas-tleft {
    font-size: 1.1rem;
    font-weight: bold;
    font-style: italic;
}

.baba-tleft {
    font-size: .8rem;
    font-weight: 500;
    margin-left: 5rem;
}

.horizontal-line {
    height: 1vh;
    width: 30vw;
    margin: 5px 0;
    margin-left: -99px;
    background-color: #D9D9D9;
}

main {
    display: flex;
    justify-content: flex-start;
}

.double-wrap {
    height: 100px;
    
}
.vertical-hr {
    width: 3px;
    height: 79.5vh; /* Set the desired height of your vertical line */
    background-color: #006181; /* Set the color of your vertical line */
    margin: 0 10px; /* Optional margin for spacing */
    transform: rotate(180deg);
    position: absolute;
    top: -18.3vh;
    color: black;
    left: 120%;
    border: none;
  }
.wrapper {
    position: absolute;
    top: 23%;
    left: 7%;
    width: 400px;
    /* border-radius: 8px; */
    /* height: 42vh; */
    padding: 30px;
    /* border-right: 1px solid black; */
    /* text-align: center; */
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
    /* border: 1px solid black; */
    /* backdrop-filter: blur(9px); */
    /* -webkit-backdrop-filter: blur(9px); */
    /* background-color: #006181; */
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: black;
    position: absolute;
    /* left: 0%; */
    top: 154%;
    white-space: nowrap;
    margin-left: 104px;
}

.input-field {
    position: relative;
    border-bottom: 2px solid #ccc;
    margin: 15px 0;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: black;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
}

.input-field input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: black;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
    font-size: 0.8rem;
    top: 10px;
    transform: translateY(-120%);
}

.forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 35px 0;
    color: black;
}

#remember {
    accent-color: black;
}

.forget label {
    display: flex;
    align-items: center;
}

.forget label p {
    margin-left: 8px;
}

.wrapper a {
    color: black;
    text-decoration: none;
}

.wrapper a:hover {
    text-decoration: underline;
}

button {
    background-color: #006181;
    color: white;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

button:hover {
    color: white;
    border-color: #363535;
    background-color: #363535;
}

.register {
    text-align: center;
    margin-top: 30px;
    color: black;
}

footer {
    position: absolute;
    bottom: 0;
}

.baba {
    display: flex;
    gap: 5px;
    margin-left: 262%;
    white-space: nowrap;
}

.input-field input.has-value ~ label,
.input-field input:focus ~ label,
.input-field input:valid ~ label {
    font-size: 0.8rem;
    top: 10px;
    transform: translateY(-120%);
}

.text-danger {
    color: red;
    font-size: 14px;
    position: relative;
    bottom: 8px;
}

.kalahati-verti {
    background-color: black;
    width: 100px;
    height: 100vh;
    position: absolute;
    top: 0;
}
.kalahati-hori {
    background-color: black;
    width: 100vw;
    height: 100px;
    position: absolute;
    left: 0;
    top: 46%;
}