* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

input:not([type="file"]), textarea {
    font-size: 1rem;
}

.container {
    display: flex;
}

.side-navbar {
    /* width: 14.7%; */
    width: 197px;
    background-color: #006181;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    left: 0;
    z-index: 10;
    align-items: center;
    padding-top: 30px;
}

.sidebar {
    display: block;
    padding: 10px;
    color: #000;
    transition: all 0.3s;
    text-decoration: none;
}

.sidebar:hover,
button:hover,
a:hover {
    background-color: #363535;
    cursor: pointer;
}

.sidebar.active {
    background-color: #a3a3a3;
    border: none;
}

.side-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
}

.side-navbar li a {
    display: block;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 70px;
    padding-right: 24px;
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    margin-top: 1px;
    margin-bottom: 1px;
}

.dashboard-container {
    margin-top: 56px;
}

.icons-taas {
    width: 20px;
    left: 29px;
    top: 103px;
    position: absolute;
}

.product-i {
    width: 25px;
    left: 27px;
    top: 152px;
    position: absolute;
}

.transaction-i {
    width: 25px;
    left: 27px;
    top: 206px;
    position: absolute;
}

.customer-i {
    width: 25px;
    left: 27px;
    top: 259px;
    position: absolute;
}

.staff-transaction-i {
    width: 25px;
    left: 27px;
    top: 152px;
    position: absolute;
}

.staff-customer-i {
    width: 25px;
    left: 27px;
    top: 207px;
    position: absolute;
}

.supplier-i {
    width: 25px;
    left: 26px;
    top: 313px;
    position: absolute;
}

.delivery-i {
    width: 27px;
    left: 28px;
    top: 365px;
    position: absolute;
}

.user-i {
    /* width: 100px; */
    font-size: 25px;
    left: 26px;
    top: 418px;
    position: absolute;
}

/* Top Navbar */
.top-navbar {
    background-color: white;
    color: #006181;
    border-bottom: 6px solid #006181;
    max-height: 68px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.top-navbar .logo {
    margin: 15px 10px 10px 55px;
    max-width: 100%;
    width: 58px;
    height: auto;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

div.company {
    letter-spacing: 4px;
    font-weight: bold;
    /* font-style: italic; */
    color: #006181;
    font-size: 18px;
    margin-left: 398px;
    /* font-family: fangsong; */
}

.globo {
    max-width: 100%;
    width: 29px;
    height: auto;
    margin-left: -28px;
}

.top-navbar .notification,
.top-navbar .account {
    margin-right: 20px;
}

.content {
    margin-top: 80px;
    margin-left: 208px;
    /* margin-left: 19.4%; */
}

.content-dashboard {
    margin-top: 85px;
    margin-left: 220px;
    /* margin-left: 19.4%; */
}

img {
    max-width: 100%;
}

.top-account {
    margin-right: 25px;
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;

    gap: 12px;
}

.notif {
    width: 36px;
    height: fit-content;
    position: relative;
    margin-right: 2px;
}

.username {
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 5px;
}



/* Log out */
.logout-container {
    /* position: absolute; */
    margin-top: 197px;
    /* border: 1px solid white; */
    padding: 10px 62px;
    bottom: 0;
    left: 0;
    user-select: none;
    transition: all 0.3s;
}

.logout-container-staff {
    /* position: absolute; */
    margin-top: 409px;
    /* border: 1px solid white; */
    padding: 10px 62px;
    bottom: 0;
    left: 0;
    user-select: none;
    transition: all 0.3s;
}

.logout-container:hover {
    cursor: pointer;
    background-color: #a3a3a3;
    border-color: #a3a3a3;
}

.logout-container-staff:hover {
    cursor: pointer;
    background-color: #a3a3a3;
    border-color: #a3a3a3;
}

.icon-user {
    width: 35px;
    position: relative;
    height: fit-content;
    cursor: pointer;
    border-radius: 50%;
}

.icon-user-staff {
    font-size: 30px;
    position: relative;
    cursor: pointer;
    margin-top: 2px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 66%;
    /* top: 22px; */
    background-color: #f9f9f9;
    /* min-width: 120px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu-staff {
    display: none;
    position: absolute;
    right: 0;
    top: 82%;
    /* top: 22px; */
    background-color: #f9f9f9;
    /* min-width: 120px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}



.dropdown input[type="checkbox"] {
    display: none;
}

/* Adjust the style for the checked state
.dropdown input[type="checkbox"]:checked ~ .dropdown-menu,
.dropdown:hover .dropdown-menu {
    display: block;
} */

.dropdown-item {
    padding: 12px 25px 12px 16px;
    white-space: nowrap;
    text-decoration: none;
    display: block;
    color: #006181;
    /* background-color: white; */
    /* position: relative; */
    /* top: 53%; */
}

.dropdown-item:hover {
    background-color: #a3a3a3;
}



/* Views */
table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 83.5vw;
}

table th,
table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #006181;
}

.table-th {
    font-weight: bold;
    background-color: #006181;
    color: white;
}

select:hover {
    cursor: pointer;
}

button {
    background-color: #006181;
    color: white;
    border: none;
    padding: 7px;
}

button, input[type="submit"], a{
    transition: all 0.3s;
}






/* Notification */
.notification-panel {
    display: none;
    position: fixed;
    top: 60px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 12px 0;
    max-height: 550px; /* Set a fixed height for the panel */
    height: auto; /* Allow the panel to expand based on content */
    overflow-y: auto; /* Enable vertical scrollbar when content exceeds the height */
}

.notification-list {
    list-style: none;
    padding: 0;
    margin-top: 35px;
    /* max-height: 250px;  */    
    letter-spacing: 0.3px; 

}

.h3-notif {
    background-color: #006181;
    padding: 7px;
    width: 100%;
    color:white;
    position: absolute;
    top: 0;
    left: 0;
}

.notification-panel h3 {
    margin: 0;
}

.close-notification {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.notification-list li {
    padding: 8px 13px;
    padding-right: 22px;
    text-decoration: none;
    /* align-items: center;
    display: flex;
    flex-direction: row; */
    color: #333;
    transition: background-color 0.1s;
    position: relative;
    cursor: pointer;
    margin-top: 5px;
}

.notification-list li:hover {
    background-color: #a3a3a3;
}

.notification-list li.clicked::before {
    content: none;
}

.notif {
    cursor: pointer;
}

.dot {
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.notification-list li.clicked .dot {
    display: none;
}

.red-dot, .red-dot-staff {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 143px;
    z-index: 10;
    top: 41%;
    transform: translateY(-50%);
    display: none; /* Initially hidden */
    color: white;
    font-size: 13px;
    text-align: center;
    align-content: center;
    user-select: none;
}

.red-dot {
    right: 148px;
}

.bold-text {
    font-weight: bold;
}
.notification-item .bold-text {
    display: inline; /* Display as an inline element */
}








/* Edit-Delete */
i {
    font-size: 14px;
}

.actions {
    text-align: center;
    padding: 8px 6px;
}

.actions-container {
    display: flex; 
    justify-content: center;
}

form button#edit, form button#delete {
    min-width: 12px;
    padding: 7px 8px;
}

form button#edit {
    background-color: #006181;
    border-radius: 0;
}

form button#edit:hover {
    background-color: #003b4e;  
}

form button#delete {
    background-color: #df3647;
    border-radius: 0;
}

form button#delete:hover {
    background-color: #a11c29;
}

.nowrap {
    white-space: nowrap;
}

i.fa-plus, i.edt-taas  {
    font-size: 27px;
    margin-right: 10px;
    margin-top: 5px;
}